.sales{
    background-color: #4a154b;
    clip-path: ellipse(75% 100% at center top);
    padding-bottom: 115px;
}

.footer-header{
    color: #1d1d1d;
    font-weight: 600;
}

.f-links{
    margin-top: -10px;
    
    
}

.f-links:hover{
    color: #1264a3;
    cursor: pointer;
}

@media(max-width:576px){
    .btn{
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}

.footer-options{
    flex: 1;
    
}

